In [1]:
pip install nltk

Requirement already satisfied: nltk in /Users/sanjanaathmaraman/opt/anaconda3/lib/python3.8/site-packages (3.6.1)
Requirement already satisfied: joblib in /Users/sanjanaathmaraman/opt/anaconda3/lib/python3.8/site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex in /Users/sanjanaathmaraman/opt/anaconda3/lib/python3.8/site-packages (from nltk) (2021.4.4)
Requirement already satisfied: tqdm in /Users/sanjanaathmaraman/opt/anaconda3/lib/python3.8/site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in /Users/sanjanaathmaraman/opt/anaconda3/lib/python3.8/site-packages (from nltk) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [5]:
import numpy as np
import pandas as pd

In [72]:
dt = pd.read_csv("spam.csv") 
dt.head(8)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...

In [7]:
dt['spam'] = dt['type'].map( {'spam': 1, 'ham': 0} ).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [8]:
print("COLUMS IN THE GIVEN DATA:")
for col in dt.columns:
      print(col)

COLUMS IN THE GIVEN DATA:
type
text
spam

In [9]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)
t=len(dt['text'])
print("NO OF ROWS IN liked COLUMN:",t)

NO OF ROWS IN REVIEW COLUMN: 116
NO OF ROWS IN liked COLUMN: 116

In [11]:
dt['text'][1] #bef

'Ok lar... Joking wif u oni...'

In [12]:
def tokenizer(text):
    return text.split()

In [13]:
dt['text']=dt['text'].apply(tokenizer)

In [14]:
dt['text'][1] #af

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [15]:
dt['text'][1]#before

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [16]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [19]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [20]:
dt['text']=dt['text'].apply(stem_it)

In [21]:
dt['text'][1]#after

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [55]:
dt['text'][109] #before

['i',
 'know!',
 'grumpi',
 'old',
 'people.',
 'my',
 'mom',
 'was',
 'like',
 'you',
 'good',
 'not',
 'be',
 'lying.',
 'then',
 'again',
 'i',
 'am',
 'alway',
 'the',
 'one',
 'to',
 'play',
 'jokes...']

In [30]:
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer()

In [31]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word, pos ="a") for word in text]

In [32]:
dt['text']=dt['text'].apply(lemmit_it)

In [54]:
dt['text'][109]#after

['i',
 'know!',
 'grumpi',
 'old',
 'people.',
 'my',
 'mom',
 'was',
 'like',
 'you',
 'good',
 'not',
 'be',
 'lying.',
 'then',
 'again',
 'i',
 'am',
 'alway',
 'the',
 'one',
 'to',
 'play',
 'jokes...']

In [56]:
dt['text'][53] #before

['wow.',
 'i',
 'never',
 'realiz',
 'that',
 'you',
 'were',
 'so',
 'embarass',
 'by',
 'your',
 'accomodations.',
 'i',
 'thought',
 'you',
 'like',
 'it,',
 'sinc',
 'i',
 'was',
 'do',
 'the',
 'best',
 'i',
 'could',
 'and',
 'you',
 'alway',
 'seem',
 'so',
 'happi',
 'about',
 '"the',
 'cave".',
 "i'm",
 'sorri',
 'i',
 "didn't",
 'and',
 "don't",
 'have',
 'more',
 'to',
 'give.',
 "i'm",
 'sorri',
 'i',
 'offered.',
 "i'm",
 'sorri',
 'your',
 'room',
 'was',
 'so',
 'embarassing.']

In [59]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(stopwords.words('english'))
#set(['a','t','d','y'])

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [60]:
def stop_it(text):
    review = [word for word in text if not word in stop_words ]
    return review

In [61]:
dt['text']=dt['text'].apply(stop_it)

In [62]:
dt['text'][53] #after stopword removal

['wow.',
 'never',
 'realiz',
 'embarass',
 'accomodations.',
 'thought',
 'like',
 'it,',
 'sinc',
 'best',
 'could',
 'alway',
 'seem',
 'happi',
 '"the',
 'cave".',
 "i'm",
 'sorri',
 'give.',
 "i'm",
 'sorri',
 'offered.',
 "i'm",
 'sorri',
 'room',
 'embarassing.']

In [ ]:
#  i'm   is not removed(?)

In [63]:
dt.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [64]:
dt['text']=dt['text'].apply(' '.join)

In [65]:
dt.head(10)

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0
5  spam  freemsg hey darl 3 week word back! i'd like fu...     1
6   ham  even brother like speak me. treat like aid pat...     0
7   ham  per request mell mell (oru minnaminungint nuru...     0
8  spam  winner!! valu network custom select receivea £...     1
9  spam  mobil 11 month more? u r entitl updat late col...     1

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [68]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [70]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("accuracy:",acc_log )

accuracy: 87.5

In [71]:
from sklearn.svm import LinearSVC

linear_svc = LinearSVC(random_state=0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc =accuracy_score(y_pred, y_text) * 100
print("accuracy:",acc_linear_svc)

accuracy: 87.5